<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <!-- <ion-card *ngFor="let item of publicaciones; let i = index"> -->
    <ion-card *ngFor="let post of posts;">
      <img src="{{post.url_image}}" />
      <ion-card-header>
        <ion-card-title>{{ post.title }}</ion-card-title><br>
        <ion-badge color="primary">{{ post.category.name }}</ion-badge>
      </ion-card-header>
    
      <ion-card-content>
        {{ post.body }}
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
