<app-header [titulo]="titulo || 'Promociones y Avisos'"></app-header>

<ion-content>
    <div id="container">
      <ion-card>
        <img src="../assets/images/xochi1.jpeg" />
        <ion-card-header>
          <ion-card-title>Salón de Fiestas Xochipico</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Es un lugar amplio para todo tipo de eventos, si requiere mas información favor de 
          contactar al propietario a este número 271 123 4567.
        </ion-card-content>
      </ion-card>
    </div>
  </ion-content>
