<app-header [titulo]="'Agendar'"></app-header>

<ion-content>
  <ion-card>
    <img src="../assets/images/xochi1.jpeg" />
    
    <form (ngSubmit)="guardar()">
      <ion-list>
        <ion-item>
          <ion-label position="fixed">Nombre:</ion-label>
          <ion-input [(ngModel)]="visit.name" name="name" type="text" placeholder="Ingresa tu nombre" pattern="[A-Za-z]+" required></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-label>Personas a asistir:</ion-label>
          <ion-input [(ngModel)]="visit.persons" name="persons" placeholder="Ingresa un número" type="number" required></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-label>Fecha:</ion-label>
          <ion-input [(ngModel)]="visit.date" name="date" type="date" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Hora:</ion-label>
          <ion-input [(ngModel)]="visit.hour" name="hour" type="time" required></ion-input>
        </ion-item>

        <ion-button type="submit" expand="block">Guardar</ion-button>
      </ion-list>
    </form>
  </ion-card>
</ion-content>  
